{% extends 'base.html.twig' %}

{% block title %}
    Your event
{% endblock %}

{% block body %}
    {% if item is defined and item|length %}
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <div class="card big-card">
                        <div class="card-body">
                            <p class="card-text card-light">{{ item.datetime }}</p>
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text card-desc big-card-desc">{{ item.description }}</p>
                            <p class="card-text card-light card-cat">Category: {{ item.category }}</p>
                            <p class="card-text card-light card-tags">Tags: {{ item.tags|join(', ') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>
            Record not found.
        </p>
    {% endif %}
{% endblock %}