{% extends 'base.html.twig' %}

    {% block title %}
        {{ 'title_contacts'|trans }}
    {% endblock %}

    {% block body %}
        <div class="container">
            <ul class="row nav nav-pills">
                <li><a href="{{ url('contact_create') }}" class="btn btn-primary btn-alter iconlink1" title="{{ 'label_add'|trans }}">
                        <i class="bi bi-person-plus"></i>
                    </a></li>
            </ul>
            <div class="row">
                <div class="col index-col five-cols">
                    {% if pagination is defined and pagination.items|length %}
                        {% for usersData in pagination.items %}
                            <div class="card contact-card">
                                <img src="{{ asset('img/template-image-contact.png') }}" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{ usersData.name }} {{ usersData.surname }} </h5>
                                    {% if usersData.nick|length > 0 %}
                                        <p class="card-text card-desc contact-card">({{ usersData.nick }})</p>
                                    {% else %}
                                    <p class="card-text card-desc contact-card"><br></p>
                                    {% endif %}
                                    <p class="card-text card-desc contact-card">{{ 'label_phone_number'|trans }}: <br>{{ usersData.phoneNumber }}</p>
                                    <p class="card-text card-desc">{{ 'label_birth_date'|trans }}:<br> {{ usersData.birthDate|format_date('long') }}</p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col index-col">
                                                <a href="{{ url('contact_show', {id: usersData.id}) }}" title="{{ 'action_view'|trans }}" class="iconlink">
                                                    <i class="bi bi-file-check"></i>
                                                </a>
                                            </div>
                                            <div class="col index-col">
                                                <a href="{{ url('contact_edit', {id: usersData.id}) }}" title="{{ 'action_edit'|trans }}" class="iconlink">
                                                    <i class="bi bi-pencil"></i>
                                                </a>
                                            </div>
                                            <div class="col index-col">
                                                <a href="{{ url('contact_delete', {id: usersData.id}) }}" title="{{ 'action_delete'|trans }}" class="iconlink">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>
                            {{ 'message_empty_list'|trans }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="navigation text-center ">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endblock %}

