{% extends 'base.html.twig' %}

    {% block title %}
        {{ 'title_contacts'|trans }}
    {% endblock %}

    {% block body %}
        <div class="container">
            <ul class="row nav nav-pills">
                <li><a href="{{ url('contact_create') }}" class="btn btn-primary btn-alter iconlink1" title="{{ 'label_add'|trans }}">
                        <i class="bi bi-person-plus"></i>
                    </a></li>
                <li><a href="{{ url('contact_index') }}" class="btn btn-primary btn-alter">{{ 'label_filter'|trans }}</a></li>
                <li><form class="d-flex">
                        <input class="form-control me-2 btn-alter" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary btn-alter" type="submit">{{ 'label_search'|trans }} </button>
                    </form></li>
                <li class="dropdown">
                    <button class="btn btn-primary btn-alter dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'message_sort_by'|trans }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item-styled">
                            <a class="dropdown-item" href="#">
                                {{ knp_pagination_sortable(pagination, 'label_name'|trans, 'usersData.name') }}
                            </a>
                        </li>
                        <li class="dropdown-item-styled">
                            <a class="dropdown-item" href="#">
                                {{ knp_pagination_sortable(pagination, 'label_birth_date'|trans, 'usersData.birthDate') }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="row">
                <div class="col index-col five-cols">
                    {% if pagination is defined and pagination.items|length %}
                        {% for usersData in pagination.items %}
                            <div class="card contact-card">
                                <img src="{{ asset('img/template-image-contact.png') }}" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{ usersData.name }} {{ usersData.surname }} </h5>
                                    {% if usersData.nick|length > 0 %}
                                        <p class="card-text card-desc contact-card">({{ usersData.nick }})</p>
                                    {% else %}
                                    <p class="card-text card-desc contact-card"><br></p>
                                    {% endif %}
                                    <p class="card-text card-desc contact-card">{{ 'label_phone_number'|trans }}: <br>{{ usersData.phoneNumber }}</p>
                                    <p class="card-text card-desc">{{ 'label_birth_date'|trans }}:<br> {{ usersData.birthDate|format_date('long') }}</p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col index-col">
                                                {% if is_granted('VIEW') %}
                                                    <a href="{{ url('contact_show', {id: usersData.id}) }}" title="{{ 'action_view'|trans }}" class="iconlink">
                                                        <i class="bi bi-file-check"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="col index-col">
                                                {% if is_granted('EDIT') %}
                                                    <a href="{{ url('contact_edit', {id: usersData.id}) }}" title="{{ 'action_edit'|trans }}" class="iconlink">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="col index-col">
                                                {% if is_granted('DELETE') %}
                                                    <a href="{{ url('contact_delete', {id: usersData.id}) }}" title="{{ 'action_delete'|trans }}" class="iconlink">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>
                            {{ 'message_empty_list'|trans }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="navigation text-center ">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endblock %}

